<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
</head>
<body>
    <h1>Welcome to my Contacts!</h1>
    <p> These are the multiple ways you can contact me!</p>
    <p>Email: ballenageromegj@gmail.com</p>
    <p>Phone No: 09287706122</p>
    <p>Twitter: @TouIsACatto</p>
    <p>Facebook: Gj Ballena</p>
    <p>Github: touthecode</p>
    <style>
        body {
            background-color: rgb(102,205,170);
            color: rgb(0, 0, 0);
            font-family: "Helvetica", "Arial", sans-serif;
            font-size: 1.3em;
        }
    
        a {
            color: rgb(255, 111, 111);
        }
    </style>
</body>
</html>
