<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome to Gj's Website</h1>

    <nav>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>


    <h1>Here are the links for my programming works!</h1>
    <p>Instruction: create a route and a page for the link that are not working (completed) </p>

    <ul>
        <li><a href="/works">toUpperCase</a></li>
        <li><a href="/areaOfcircle">Area of a Circle</a></li>
        <li><a href="/areaOftriangle">Area of a Triangle</a></li>
    </ul>
<style>
        body {
            background-color: rgb(102,205,170);
            color: rgb(0, 0, 0);
            font-family: "Helvetica", "Arial", sans-serif;
            font-size: 1.3em;
        }
    
        a {
            color: rgb(255, 111, 111);
        }
    </style>
</body>
</html>

