<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>Welcome to MY Profile Page!</h1>
    <p>My name is Gerome Jose L. Ballena! A 19 yr. old PUP student of BSCPE 2-4.</p>
    <p>This HTML project is for my course DSA! </p>
    <p>These are some little things about me:</p>
    <p>Nickname: Gerome/Gj</p>
    <p>Age: 19</p>
    <p>Birthday: June 27, 2004</p>
    <p>Likes: Doing things that are comfy and fun such as talking with friends or playing games!</p>
    <p>Dislikes: People who make things worse and uncomfortable</p>
    <style>
        body {
            background-color: rgb(102,205,170);
            color: rgb(0, 0, 0);
            font-family: "Helvetica", "Arial", sans-serif;
            font-size: 1.3em;
        }
    
        a {
            color: rgb(255, 111, 111);
        }
    </style>
</body>
</html>
